body {
    margin: 0;
}

.player {
    background-image: url('img/ocean.jpg');
    width: 100%;
    height: 5vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
}

.player-timer {
    position: relative;
    height: 50vh;
}

.player-timer-circle {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50% -50%) rotate(-90deg);
}